{% load static %}
<html>
<head>
    <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Django blog</a></h1>
        <h1><a href="{% url 'post_new' %}">+ New Blog Post</a></h1>
    </header>

    {% if user.is_authenticated %}
    <p>hi {{ user.username }} </p>
    <p><a href="{% url 'logout' %}">Log out</a></p>

    {% else %}
    <p>you are not loggedin</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>